<h3 class='mb-5'>
  <%= @page.title %>
  <%= link_to 'Edit', edit_notebook_page_path(@notebook, @page), class: 'btn btn-sm btn-outline-primary ml-3' %>
</h3>

<div class="my-5 text-right">
<%= link_to 'Back', @notebook, class: 'btn btn-light' %>
</div>
