.notebook-card {
    .card-title{
        a {
            text-decoration: none;
        }
    }
    .stats {
        p {
            margin: 0;
        }
        .started{
            color: #777777;
        }
    }
}